:root {
    --color-navy: #24417;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    /* background: #141414;  DARK */
    background: #120120;
    /* Very dark purple */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow:hidden; */
    line-height: 1.5;
}

.strikeout {
    text-decoration: line-through;
}

.past {
    opacity: 0.5;
}

div#time_remaining_container {
    position: fixed;
    top: 0;
    bottom: auto;
    right: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#time_planned {
    position: fixed;
    top: auto;
    bottom: 2rem;
    right: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.5;
    transition: all 1s ease-in-out;
}

div#end_of_workday {
    position: fixed;
    top: auto;
    bottom: 10px;
    right: 0;
    left: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.5;
    transition: all 1s ease-in-out;
}

div#time_planned:hover {
    opacity: 1;
}

div#time_remaining_container div#time_remaining {
    font-size: 2rem;
    color: #23D6AA;
}

div#time_remaining_container p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #909298;
}

div#time_remaining_container #time_remaining.last_half {
    color: #CF8222;
}

div#time_remaining_container #time_remaining.less_than_one_minute {
    color: #CF2260;
}

div#habits {
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    transition: opacity 1s ease-in-out;
}

div#habits div.habit {
    filter: saturate(0) brightness(0.4);
}

div#habits div.habit.done {
    filter: unset;
}

#timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    scroll-behavior: smooth;
    padding-top: 50vh;
    row-gap: 2.5rem;
}

.timeblock {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    min-height: 2.5rem;
}

.timeblock .start_time {
    flex-basis: 20%;
    text-align: right;
    padding: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 100;
    color: #909298;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.timeblock .description {
    /* padding: 10px; */
    border-radius: 5px;
    /* margin: 5px 0; */
    color: #CCCFD7;
    flex-basis: 80%;
    padding: 0.5rem;
    font-weight: 200;
    flex-grow: 1;
    height: auto;
}

.timeblock .checklist {
    font-size: 0.8rem;
    font-weight: 100;
    display: none;
    padding-top: .5rem;
    padding-bottom: .3rem;
    padding-left: .5rem;
    color: #C9D4F5;
}

.timeblock.current .checklist {
    display: block;
}

.timeblock.offline .description {
    color: #A4BEA5;
}

.current .description {
    background-color: #1A3563;
    font-weight: 500;
    color: #F1F2F5;
}

.ending .description {
    background-color: #3C0A1C;
}

#progress_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #BB439C;
    width: 0%;
    transition: width 1s ease-in-out;
}

.progress_bar_inactive {
    background-color: var(--color-navy);
}

.logo img {
    width: 30px;
    height: 30px;
    margin-bottom: 1rem;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    opacity: 1;
}

span.project {
    color: #5F8CD8;
}

span.client {
    color: #BB439C;
}

.theme_minimum .logo {
    opacity: 0;
}

.theme_minimum .timeblock .start_time {
    display: none;
}

.theme_minimum .timeblock .description {
    flex-basis: 100%;
    padding: 0.5rem;
}

@media screen and (max-width: 1000px) {

    /* Shows next time block as well but disabled for now
    .timeblock.current+.timeblock {
        display: flex;
    }
    */

}

/* Landscape mode */
@media screen and (max-width: 1000px) and (orientation: landscape) {

    #timeline {
        /* height: auto; */
        padding-top: 30vh;
    }

    .logo,
    #time_remaining_container,
    #time_planned,
    #end_of_workday,
    #habits {
        display: none;
    }

    div#habits {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        column-gap: .3rem;
    }

    .timeblock {
        /* display: none; */
    }

    .timeblock.current {
        display: flex;
    }

    #timeline {
        height: auto;
    }

    .current {
        /* font-size: 2rem; */
    }

    .current .start_time {
        opacity: .4;
        min-width: 150px;
        text-wrap: none;
    }

    .current .description {
        background-color: transparent;
        padding-right: 50px;
    }

    .logo,
    #time_remaining_container,
    #time_planned,
    #end_of_workday,
    #habits {
        display: none;
    }

    .current {
        /* font-size: 1.7rem; */
    }

    div.current div.start_time {
        opacity: 1;
    }

    .current .description {
        background-color: transparent;
    }

    div#habits {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        column-gap: .3rem;
    }
}

/* Portrait mode */
@media screen and (max-width: 1000px) and (orientation: portrait) {

    body {
        padding-top: 30vh;
        padding-bottom: 30vh;
        max-width: 100vw;
    }

    #timeline {
        height: auto;
        max-width: 90vw;
    }

    #time_remaining_container {
        width: 100%;
        position: fixed;
        top: 0;
        bottom: auto;
        right: 0;
        font-size: .8rem;
        padding: .5rem !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #060606;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #time_remaining_container div#time_remaining {
        font-size: 1.7rem !important;
    }

    div#time_planned {
        position: fixed;
        top: auto;
        bottom: 0px;
        right: auto;
        left: 0;
        padding: .5rem;
        padding-left: 1rem;
        padding-bottom: .7rem;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        opacity: 1;
        width: 100%;
        background: #060606;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -5px 15px;
    }

    div#end_of_workday {
        position: fixed;
        top: auto;
        bottom: 0px;
        right: 0;
        left: auto;
        padding: .5rem;
        padding-right: 1rem;
        padding-bottom: .7rem;
        width: 60vw;
        text-align: right;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .logo {
        display: none !important;
    }

    .current {
        font-size: 1.7rem;
    }

    div.start_time {
        width: 20vw !important;
        max-width: 20vw !important;
        font-size: 1rem;
    }

    .current .start_time {
        opacity: 1;
        display: none;
    }

    div.description {

        width: 80vw !important;
    }

    .current .description {
        background-color: transparent;
    }

    div#habits {
        position: fixed;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: .5rem;
        font-size: 1.3rem;
        column-gap: .3rem;
        width: 100vw;
        left: 0;
        right: 0;
        bottom: 2rem;
        background: #060606;
        z-index: 50;
    }
}
